<html>
    <head>
        <link rel="shortcut icon" href="../assets/favicon.ico"/>
        <link rel="stylesheet" href='../assets/style.css' type="text/css"/>
        <title>Virtual Cow</title>
    </head>

    <body>
        <div class="header title">
            <h1>Virtual Cow</h1>
            <p>Revision Control with a "Moo"!</p>
        </div>
        <div class="header userbar">
            <p class="username">m.armstrong</p>
        </div>
        <div class="field">
            <img src="../assets/free.png">
            <div class="status">The cow is free!</div>
            <button class="button free">Acquire Cow</button>
        </div>
    </body>
</html>
