<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href='../static/style.css' type="text/css"/>
        <title>Virtual Cow</title>
    </head>

    <body>
        <div class="header title">
            <h1>Virtual Cow</h1>
            <p>Revision Control with a "Moo"!</p>
        </div>
        <div class="header userbar">
            {% if username %}
                <form action = "/" method = "post">
                    <label>{{ username }}</label>
                    <input type = "hidden" name = "action" value = "logout"/>
                    <button>logout</button>
                </form>
            {% else %}
                <form action = "/" method = "post">
                    <label>Name:</label>
                    <input type = "hidden" name = "action" value = "login"/>
                    <input type="text" name="username" id="username">
                    <button>Login</button>
                </form>
            {% endif %}
        </div>

        <div class="field">
            {% if cow_free %}
                <img src="{{ url_for('static', filename='free.png') }}" alt="Cow free to frolic">
                <div class="status">The cow is free!</div>
                <form action = "/" method = "post">
                    <input type = "hidden" name = "action" value = "acquire"/>
                    {% if username %}
                        <button class="button free">Acquire Cow</button>
                    {% endif %}
                </form>
            {% else %}
                <img src="{{ url_for('static', filename='not_free.png') }}" alt="Cow subject to servitude">
                <div class="status">The cow is owned by {{ cow_owner }}!</div>
                <form action = "/" method = "post">
                    <input type = "hidden" name = "action" value = "release" />
                    {% if username and username==cow_owner %}
                        <button class="button not-free">Release Cow</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>

        <!–– Added to stop a refresh resending the form––>
        <script>
            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
        </script>

    </body>
</html>
